@model CallBackUtility.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


@using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "p-3 mt-3 form-login", role = "form" }))
{
    @Html.AntiForgeryToken()
     @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.Code)

    <div class="form-field d-flex align-items-right">

        @Html.TextBoxFor(m => m.Email, "", htmlAttributes: new { @PlaceHolder = "Email", @class = " form-control input-sm chat-input" })
    </div>
    <div class="form-field d-flex align-items-center">
        @Html.PasswordFor(m => m.Password, htmlAttributes: new { @PlaceHolder = "Current Password", @class = "form-control input-sm chat-input" })
    </div>
    <div class="form-field d-flex align-items-center">
        @Html.PasswordFor(m => m.NewPassword, htmlAttributes: new { @PlaceHolder = "New Password", @class = "form-control input-sm chat-input" })
    </div>
    <div class="form-field d-flex align-items-center">
        @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { @PlaceHolder = "Confirm Password", @class = "form-control input-sm chat-input" })
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Reset" />
        </div>
    </div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
}
